.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: rgb(41, 41, 119);
  color:white;
}
.mat-each-menu-item {
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}
nav {
  display: flex;
}
@media (min-width:568px) {
  .sidenav {
    display: none;
  }
}